In [1]:
import numpy as np
import pandas as pd
import os
import cv2

In [2]:
train = pd.read_csv('train.csv')
print(train.shape)
train.head()

(4888, 6)

  image_names cell_type  xmin  xmax  ymin  ymax
0   00000.jpg       WBC   260   491   177   376
1   00000.jpg       RBC    78   184   336   435
2   00000.jpg       RBC    63   169   237   336
3   00000.jpg       RBC   214   320   362   461
4   00000.jpg       RBC   414   506   352   445

In [3]:
data = pd.DataFrame()
data['format'] = train['image_names']

In [4]:
# as the images are in train_images folder, add train_images before the image name
for i in range(data.shape[0]):
    data['format'][i] = 'train_images/' + data['format'][i]

# add xmin, ymin, xmax, ymax and class as per the format required
for i in range(data.shape[0]):
    data['format'][i] = data['format'][i] + ',' + str(train['xmin'][i]) + ',' + str(train['ymin'][i]) + ',' + str(train['xmax'][i]) + ',' + str(train['ymax'][i]) + ',' + train['cell_type'][i]

In [5]:
data.head()

                                       format
0  train_images/00000.jpg,260,177,491,376,WBC
1   train_images/00000.jpg,78,336,184,435,RBC
2   train_images/00000.jpg,63,237,169,336,RBC
3  train_images/00000.jpg,214,362,320,461,RBC
4  train_images/00000.jpg,414,352,506,445,RBC

In [6]:
data.to_csv('annotate.txt', header=None, index=None, sep=' ')